{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}

        {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.
		{% if show %}
	        <div class="card-deck">
			  <div class="card" style="border: none;visibility: hidden;">
			  </div>
			  <div class="card">
			    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
			    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
			    {{question | safe}}
			    <div class="card-body">
			      <h5 class="card-title">Enter Your Answer</h5>
			      <form action="/submit/" method="POST">
				    {% csrf_token %}
			      	<input type="text" name="solution">
			      	<button type="submit">Submit</button>
			      </form>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">CSI OSDG CREATIONS</small>
			    </div>
			  </div>
			  <div class="card" style="border: none; visibility: hidden;">   
			  </div>
			</div>
		{% else %}
			<h1>{{ question | safe }}</h1>
	    {% endif %}

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}

{% endblock %}
